.section-1 
	.tiny-scrollmation {
		background-image: url("../images/xu6118472taichi_practitioners-lr_db21cbl.jpg");
	}

.section-2 
	.section-cover {
		background-image: url("../images/an26a8-mr.jpg");
	}

.section-3 
	.section-cover {
		background-image: url("../images/blinky-5-hr_trwu830.png");}


.story-footer {
	background-image: url("../images/xu5239503the_sun_rises_behind-mr.jpg");
}
.credits {
		background-image: url("../images/bar_pic140510034_high_res_-hr_lm1svfb.jpg");
	}